<% include ../partials/header %>
    <div id="align-editcomment" class="row text-center justify-content-around">
        <div class="col-xl-4 col-md-5 col-sm-10">
            <h1 class="display-4"><i class="fas fa-campground"></i></h1>
            <h1 class="mb-3">Edit Comment</h1>
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <label for="commentedit" class="sr-only">Comment</label>
                    <textarea class="form-control" id="commentedit" name="comment[text]" rows="8" aria-label="<%= comment.text %>">
                        <%= comment.text %>
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <small><a href="/campgrounds/<%= campground_id %>">Go Back</a></small>
        </div>
    </div>
<% include ../partials/footer %>